.dashboard-main {
  padding: 1rem;
  background-color: #ffffff;
  margin: 2rem auto;
  width: auto;
  max-width: 95%;
}

.dashboard-main__header {
  padding: 1rem;
  background-color: #74b6bb;
  margin: 2rem auto;
  width: 80rem;
}

.dashboard-main__header h2 {
  display: flex;
  padding: 1rem;
  color: #e3daa5;
  margin: 2rem auto;
  width: 80rem;
  height: 2rem;
  align-items: center top;
}

.dashboard-main button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  margin-top: 2rem;
}